html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgb(119, 13, 13);
	background: radial-gradient(
		circle,
		rgba(119, 13, 13, 0.92) 64%,
		rgba(0, 0, 0, 0.6) 100%
	);
	overflow: hidden;
}
canvas {
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
}
@keyframes moveBg{
	from{
		background-position: 0% 30%;
	}
	to{
		background-position: 1000% 500%;
	}
}
#snow {
	width: 100%;
	height: 100%;
	position: relative;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 3em;
	user-select: none;
	background: url("../img/bg.png");
	-webkit-background-clip: text;
	color: transparent;
	animation: moveBg 15s linear infinite;
}