html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(119, 13, 13);
    background: radial-gradient(
            circle,
            rgba(119, 13, 13, 0.92) 64%,
            rgba(0, 0, 0, 0.6) 100%
    );
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.middle {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 10;
    color: transparent;
    font-size: 2em;
    text-align: center;
    background: url("../../img/bg.png");
    -webkit-background-clip: text;
    transform: translate(-50%, -50%);
    animation: moveBg 15s linear infinite;
    user-select: none;
}
@keyframes moveBg{
    from {
        background-position: 0 0;
    }
    to{
        background-position: 1000% 500%;
    }
}
#snow {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
